.app{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    background: #0B0D10;
}

.intro{
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    transition: 1s;
    justify-content: center;
    align-items: center;
    
    
}

.logo-header{
    position: relative;
    color: #D6FF3F;
    text-align: center;
    font-family: 'DrukCondensed', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.logo{
    display: inline-block;  /* Manter o logo em linha */
    bottom: -20px;
    opacity: 0;
    white-space: nowrap;
}

.logo.active{
    bottom: 0;
    opacity: 1;
     transition: 1s ease-in-out;
}

.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: 1s ease-in-out;
}